<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
	<script src="https://kit.fontawesome.com/4963a4c9ed.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;800;900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
	<div class="chats-wrapper">
		<div class="chats-header">
			<h2 style="margin-bottom: 10px; font-size: xx-large;">Chats</h2>
			<div style="margin-top: 4px; display: inline;"><i class="uil uil-search"
					style="font-size: 1.3rem; padding-right: 8px;"></i>
				<input class="search" type="search">
			</div>
		</div>
		<!--span.chat*8{$}-->
		<div class="chats">
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
		</div>
	</div>

	<div class="content-wrapper">
		<div class="user-wrapper">
			<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="smaller-user-icon">
			<div>
				<span class="user-name">Bingus</span>
				<br>
				<div class="active"></div> <span class="activity">Active now</span>
			</div>
		</div>

		<div class="messages">
			<div class="message">
				<img src="{{ url_for('static',filename='img/beluga-pfp.PNG')}}" alt="" class="user-chat-icon">
				<div>
					<div>
						<span class="name">Beluga</span>
						<span class="date">10:24</span>
					</div>	
					<span class="text">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, quod
						voluptatum. Ex velit qui consequuntur laboriosam quod ab nulla dignissimos molestias iusto
						temporibus praesentium, iure recusandae, quo voluptatum sint sed.
					</span>
				</div>
			</div>

			<div class="message">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}"" alt="" class="user-chat-icon">
				<div>
					<div>
						<span class="name">Bingus</span>
						<span class="date">10:24</span>
					</div>	
					<span class="text">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, quod
						voluptatum. Ex velit qui consequuntur laboriosam quod ab nulla dignissimos molestias iusto
						temporibus praesentium, iure recusandae, quo voluptatum sint sed.
					</span>
				</div>
			</div>

			<div class="message">
				<img src="{{ url_for('static',filename='img/beluga-pfp.PNG')}}" alt="" class="user-chat-icon">
				<div>
					<div>
						<span class="name">Beluga</span>
						<span class="date">10:24</span>
					</div>	
					<span class="text">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, quod
						voluptatum. Ex velit qui consequuntur laboriosam quod ab nulla dignissimos molestias iusto
						temporibus praesentium, iure recusandae, quo voluptatum sint sed.
					</span>
				</div>
			</div>

			<div class="message">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-chat-icon">
				<div>
					<div>
						<span class="name">Bingus</span>
						<span class="date">10:24</span>
					</div>	
					<span class="text">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, quod
						voluptatum. Ex velit qui consequuntur laboriosam quod ab nulla dignissimos molestias iusto
						temporibus praesentium, iure recusandae, quo voluptatum sint sed.
					</span>
				</div>
			</div>

			<div class="message">
				<img src="{{ url_for('static',filename='img/beluga-pfp.PNG')}}" alt="" class="user-chat-icon">
				<div>
					<div>
						<span class="name">Beluga</span>
						<span class="date">10:24</span>
					</div>	
					<span class="text">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, quod
						voluptatum. Ex velit qui consequuntur laboriosam quod ab nulla dignissimos molestias iusto
						temporibus praesentium, iure recusandae, quo voluptatum sint sed.
					</span>
				</div>
			</div>

			<div class="message">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-chat-icon">
				<div>
					<div>
						<span class="name">Bingus</span>
						<span class="date">10:24</span>
					</div>	
					<span class="text">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, quod
						voluptatum. Ex velit qui consequuntur laboriosam quod ab nulla dignissimos molestias iusto
						temporibus praesentium, iure recusandae, quo voluptatum sint sed.
					</span>
				</div>
			</div>

			<div class="message">
				<img src="{{ url_for('static',filename='img/beluga-pfp.PNG')}}" alt="" class="user-chat-icon">
				<div>
					<div>
						<span class="name">Beluga</span>
						<span class="date">10:24</span>
					</div>	
					<span class="text">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, quod
						voluptatum. Ex velit qui consequuntur laboriosam quod ab nulla dignissimos molestias iusto
						temporibus praesentium, iure recusandae, quo voluptatum sint sed.
					</span>
				</div>
			</div>

			<div class="message">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-chat-icon">
				<div>
					<div>
						<span class="name">Bingus</span>
						<span class="date">10:24</span>
					</div>	
					<span class="text">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, quod
						voluptatum. Ex velit qui consequuntur laboriosam quod ab nulla dignissimos molestias iusto
						temporibus praesentium, iure recusandae, quo voluptatum sint sed.
					</span>
				</div>
			</div>

			<div class="message">
				<img src="{{ url_for('static',filename='img/beluga-pfp.PNG')}}" alt="" class="user-chat-icon">
				<div>
					<div>
						<span class="name">Beluga</span>
						<span class="date">10:24</span>
					</div>	
					<span class="text">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, quod
						voluptatum. Ex velit qui consequuntur laboriosam quod ab nulla dignissimos molestias iusto
						temporibus praesentium, iure recusandae, quo voluptatum sint sed.
					</span>
				</div>
			</div>


		</div>

		<div class="type">
			<form action="" method="POST"></form>
			<input type="text" class="user-type">
			<input type="submit" placeholder="<i class='uil uil-message' id='send'></i>">
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
	<script type="text/javascript">
	     var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
	</script>
</body>

</html>
