<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
	<script src="https://kit.fontawesome.com/4963a4c9ed.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;800;900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
	<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
			$(document).ready(function() {

			namespace = '/';
			var socket = io(namespace);

			socket.on('connect', function() {
				socket.emit('my_event', {data: 'connected to the SocketServer...'});
			});

			socket.on('my_response', function(msg, cb) {
				$('#log').append('<div class="message"> <img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-chat-icon"> <div> <div> <span class="name">Bingus</span> <span class="date">10:24</span> </div> <span class="text">' + msg.data.trim() + '</span> </div> </div>').html();
				//$('#log').append('<br>' + $('<div/>').text('logs #' + msg.count + ': ' + msg.data).html());
				if (cb)
					cb();
			});
			$('form#emit').submit(function(event) {
				socket.emit('my_event', {data: $('#emit_data').val()});
				return false;
			});
			$('form#broadcast').submit(function(event) {
				socket.emit('my_broadcast_event', {data: $('#broadcast_data').val()});
				return false;
			});
			$('form#disconnect').submit(function(event) {
				socket.emit('disconnect_request');
				return false;
			});
			});
    </script>
</head>

<body>
	<div class="chats-wrapper">
		<div class="chats-header">
			<h2 style="margin-bottom: 10px; font-size: xx-large;">Chats</h2>
			<div style="margin-top: 4px; display: inline;"><i class="uil uil-search"
					style="font-size: 1.3rem; padding-right: 8px;"></i>
				<input class="search" type="search">
			</div>
		</div>
		<!--span.chat*8{$}-->
	<div class="chats-align">
		<div class="chats">
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
			<span class="chat">
				<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="user-icon">
				<div>
					<span class="name">Bingus</span>

					<span class="msg-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, voluptas
						reiciendis eaque illo possimus quis laudantium ad dolore voluptates distinctio. Repudiandae
						commodi dolores corporis perferendis eaque debitis minus, earum laudantium?</span>
				</div>
			</span>
		</div>
	</div>
	</div>

	<div class="content-wrapper">
		<div class="user-wrapper">
			<img src="{{ url_for('static',filename='img/bingus.jpg')}}" alt="" class="smaller-user-icon">
			<div>
				<span class="user-name">Bingus</span>
				<br>
				<div class="active"></div> <span class="activity">Active now</span>
			</div>
		</div>

		<div id="log" class="messages">



		</div>

		<div class="type">
			<form id="broadcast" method="POST" action='#' class="messageform">
				<input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message" class="user-type">
				<label for="submit" class="btn"><i class='uil uil-message' id='send'></i></label>
				<input id="submit" type="submit" hidden />
			</form>
		
			<!--<form id="broadcast" action="#" method="POST">
				<input type="text" name="broadcast_data" id="broadcast_data" >
				
			</form>-->	
		</div>
	</div>

	<div class="settings-wrapper">
		<div class="settings-header">
			<h2 style=" font-size: xx-large;">Settings</h2>
			
		</div>
	</div>
</body>

</html>
